<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head", { title: headline }); %>
  </head>
  <body class="d-flex justify-content-center align-items-center">
    <div class="card">
      <h5 class="card-header">
        <%= headline %>
      </h5>
      <div class="card-body">
        <p class="text-right">
          <% if (lng === 'th') { %>
          <a href="?lng=en" class="text-danger">en</a>
          <% } else { %>
          <a href="?lng=th" class="text-danger">th</a>
          <% } %>
        </p>
        <form>
          <div class="form-group">
            <label for="email"><%= email %></label>
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="<%= emailPlaceholder %>"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="form-group">
            <label for="password"><%= password %></label>
            <input
              type="password"
              class="form-control"
              id="password"
              placeholder="<%= passwordPlaceholder %>"
            />
          </div>
          <button type="submit" class="btn btn-primary"><%= signin %></button>
        </form>
      </div>
    </div>
  </body>
</html>
